.firstColor {
    background-color: $primaryColor;
    height: 300px;
}

.secondColor {
    background-color: $secondaryColor;
    height: 300px;
}

.thirdColor {
    background-color: $tertiaryColor;
    height: 300px;
}

.textoproductos {
    margin-top: 10rem;
    text-align: center;
}